
<div class="row">
<div class="well profile panel panel-default filterable col-md-8 col-md-offset-2">
            <div class="panel-heading">
                <h3 class="panel-title">Requests</h3><br/><br/>
                
            </div>
            <table class="table table-striped text-center" id="requests-table">
                <thead>
                        <th>Client</th>
                        <th>Options(Accept/Reject)</th>
                </thead>
                <tbody>
                	<% @requests.each do |req|%>
                    <tr>
                        <td><%= req.user.name %></td>
                        <td>
                        	<%= link_to "", accept_request_path(:id => req.id), :class => "fa fa-circle green-font"%>&nbsp;&nbsp;&nbsp;
                        	<%= link_to "", reject_request_path(:id => req.id), :class => "fa fa-circle red-font"%>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
</div>
<script type="text/javascript">
$("#requests-table").dataTable();

</script>
